RProj/.Rproj.user
RProj\.Rproj.use*
RProj/.Rhistory
RProj/.RData
RProj/.Ruserdata
RProj/.Rproj.user

.Rproj.user
RProj/SIPDUS_B*
RProj/SIPDUS_Municipios_2*
Datos/spidus_geojson_by_id_mun_poquitos.geojson
Ocultos/*
Datos/spidus_geojson_by_id_mun_poquitos_update.geojson